.wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  margin: 5rem 0;
}

.form {
  padding: 2rem 2rem 1rem 2rem;
  font-size: 1.8rem;
  border-radius: 5px;
  color: #fff;
  border: 2px solid #DC843A;
  max-width: 45rem;
  width: 100%;
}

.form-control {
  margin-bottom: 1rem;
}

.form-control input,
.form-control label {
  display: block;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control textarea {
  font: inherit;
  width: 100%;
  max-width: 45rem;
  height: 10rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.5rem;
}

.form-control input,
.form-control select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 45rem;
}

.form-control input:focus,
.form-control textarea:focus{
  outline: none;
}

.form-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 45rem;
}

.form-text-box h2 {
  align-self: flex-start;
  font-size: 3rem;
  color: #DC843A;
  display: inline-block;
  border-bottom: 3px solid #DC843A;
  margin-bottom: 1rem;
}

.form-text-box p {
  color: grey;
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 5rem;
}

button {
  font: inherit;
  background-color: #fff;
  color: #000;
  border: 1px solid #DC843A;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  background-color: #DC843A;
  color: #000;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  cursor: not-allowed;
}

.form-actions {
  text-align: center;
}

.form-actions button {
  margin-left: 1rem;
}

.error-text {
  margin-top: 0.5rem;
  color: #b40e0e;
}

@media only screen and (max-width: 750px) {
  .form {
    font-size: 1.5rem;
  }
  .form-text-box p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 550px) {
  .wrapper {
    margin-top: 1.5rem;
  }
  .form {
    font-size: 1.3rem;
  }
  .form-text-box {
    align-self: flex-start;
  }
  .form-text-box h2{
    font-size: 2.5rem;
  }
  .form-text-box p{
    font-size: 1.3rem;
  }
  
}

@media only screen and (max-width: 480px) {
  .wrapper {
    align-items: flex-start;
  }
}
