.centered {
  margin: 1.5rem 0;
  justify-content: center;
  font-size: 3rem;
  color: #fff;
  object-fit: cover;
}

.project-image-box {
  display: flex;
  justify-content: center;
  
}

.project-image-box img {
  border: 3px solid #dc843a;
  height: 50rem;
  width: 80rem;
  object-fit: cover;
  
}

.project-image-enlarger {
  z-index: 300;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5rem 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.project-image-enlarger img {
  border: 3px solid #dc843a;
  width: 80%;
  height: 100%;
}

.picture-text {
  font-size: 1.3rem;
  color: grey;
  font-style: italic;
  text-align: center;
  margin-bottom: 1.5rem;
}

.project-info h2 {
  font-size: 3.5rem;
  text-align: center;
  margin-top: 1.5rem;
}

.project-info-description {
  color: grey;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.project-info-links {
  color: grey;
}

.project-info-links {
  font-size: 1.8rem;
}

.project-info-links a {
  font-size: 1.8rem;
  color: #dc843a;
}

.project-info-links a:hover {
  border-bottom: 2px solid #dc843a;
}

@media only screen and (max-width: 850px) {
  .project-image-box img {
    max-width: 100%;
  }
  .picture-text {
    font-size: 1.3rem;
  }
  .project-info h2 {
    font-size: 2.5rem;
  }
  .project-info-description {
    font-size: 1.5rem;
  }
  
  .project-info-links,
  .project-info-links a {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 550px) {
  .project-image-box img {
    height: 30rem;
  }
  .project-image-box img {
    max-width: 100%;
  }
  .picture-text {
    font-size: 1rem;
  }
  .project-info h2 {
    font-size: 2rem;
  }
  .project-info-description {
    font-size: 1.3rem;
  }
  .project-info-links,
  .project-info-links a {
    font-size: 1.3rem;
  }
}